@media only screen and (max-width : 1000px) {
  #sidebar, #controls {
    display: none !important;
    position: static;
  }
  
  #search {
    position: static;
  }
  
  #map-wrapper {
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
}
html { height: 100% }
body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #444;
}
#search {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 10px 20px;
  background-image: -moz-linear-gradient(top, #3366cc, #1188dd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f5f5),color-stop(1, #ededed));
  border: 1px solid #bbb;
}
#search button {
  position: relative;
  top: -2px;
}
.hint {
  font-size: 14px;
  position: relative;
  top: -2px;
}
#map-wrapper {
  overflow: auto;
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 410px;
}
#map-canvas { 
  position: relative;
  padding-bottom: 50px;
  width: 1030px;
  z-index: 1;
}
#youarehere { 
  width: 16px;
  height: 16px;
  background: url('booris.png');
  position: absolute;
  top: 450px;
  left: 750px;
  z-index: 2;
}
#destination {
  display: none;
  position: absolute;
  z-index: 2;
}
.destination, #destination {
  color: red;
  font-weight: black;
  font-size: 32px;
}
#sidebar {
  position: fixed;
  top: 30px;
  right: 0;
  width: 350px;
  margin: 50px 50px 0 10px;
  z-index: 3;
  background-color: white;
  text-align: center;
}
#sidebar #map-url {
  margin-top: 10px;
  font-size: 14px;
}
#qrcode {
  width: 256px;
  height: 256px;
  margin: 0 auto 20px;
  background: #ccc;
}
#legend {
  margin-top: 50px;
  text-align: left;
  background-image: -moz-linear-gradient(top, #f5f5f5, #ededed);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f5f5),color-stop(1, #ededed));
  background-image: linear-gradient(top, #f5f5f5, #ededed);
  padding: 20px 15px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
#legend p {
  margin: 0;
}
#controls { 
  z-index: 4;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-image: -moz-linear-gradient(top, #f5f5f5, #ededed);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f5f5),color-stop(1, #ededed)); 
  background-image: linear-gradient(top, #f5f5f5, #ededed);
  font-size: 14px;
  color: #444;
  padding: 4px;
  border-top: 1px solid #bbb;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a, a:link, a:active, a:visited {
  color: #0059de;
  text-decoration: none;
}