/* line 8, ../scss/app.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  color: #444444;
}

/* line 13, ../scss/app.scss */
h1 {
  position: absolute;
  z-index: 100;
  left: 421px;
  top: 10px;
  font-size: 26px;
  color: #777777;
}

/* line 22, ../scss/app.scss */
#back {
  cursor: pointer;
  position: absolute;
  top: 0;
}
/* line 31, ../scss/app.scss */
#back .back-button {
  left: 20px;
  top: 15px;
  position: absolute;
  background-repeat: repeat-x;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  height: 23px;
  padding: 0 10px 0 8px;
  z-index: 0;
  border-radius: 0;
  -webkit-border-top-left-radius: 10px 22px;
  -webkit-border-bottom-left-radius: 10px 15px;
  font-size: 13px;
  display: block;
  text-align: center;
  color: #666;
  line-height: 23px;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1000px) {
  /* line 31, ../scss/app.scss */
  #back .back-button {
    top: 0;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding-left: 12px;
  }
}
/* line 61, ../scss/app.scss */
#back .back-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
}
/* line 66, ../scss/app.scss */
#back .back-button:active:before {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
}
/* line 70, ../scss/app.scss */
#back .back-button:before {
  position: absolute;
  top: 9.9%;
  left: -5px;
  -webkit-background-size: 22px 22px;
  background-position: -2px -1.5px;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  height: 20px;
  width: 19px;
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
  -webkit-border-top-right-radius: 100px 40px;
  -webkit-border-top-left-radius: 30px 2px;
  -webkit-border-bottom-right-radius: 2px 30px;
  -webkit-border-bottom-left-radius: 40px 100px;
  z-index: 1;
  content: ' ';
  border: 1px solid #aaaaaa;
  border-left: 1.5px solid #aaaaaa;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(0.33, black), color-stop(0.5, transparent), to(transparent));
}
@media only screen and (max-width: 1000px) {
  /* line 70, ../scss/app.scss */
  #back .back-button:before {
    height: 47px;
    width: 38px;
    left: -10px;
    -webkit-border-top-right-radius: 54px 18px;
    -webkit-border-bottom-left-radius: 38px 119px;
  }
}

/* line 109, ../scss/app.scss */
#search {
  padding-left: 60px;
  padding-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #fbfbfb;
  height: 60px;
  /*.chzn-container {
    margin: 5px 20px;
    @media only screen and (max-width: 1000px) {
      margin: 0;
      width: 100% !important;
      height: 50px;

      a {
        height: 50px;

        span {
          font-size: 16px;
          padding: 12px 0;
        }

        div {
          padding: 13px 0;
        }
      }
    }
  }
  .chzn-default {
    color: #666;
  }
  .chzn-single {
    border-radius: 0;
  }*/
}
@media only screen and (max-width: 1000px) {
  /* line 109, ../scss/app.scss */
  #search {
    height: 50px;
    padding-top: 0;
    padding-left: 85px;
  }
}
/* line 123, ../scss/app.scss */
#search .searchfield {
  margin: 5px 20px;
  width: 300px;
  font-size: 14px;
}

/* line 160, ../scss/app.scss */
#map-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  right: 320px;
  bottom: 0;
}
@media only screen and (max-width: 1000px) {
  /* line 160, ../scss/app.scss */
  #map-wrapper {
    right: 0;
    top: 52px;
  }
}

/* line 173, ../scss/app.scss */
#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  padding: 20px 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fbfbfb;
}
@media only screen and (max-width: 1000px) {
  /* line 173, ../scss/app.scss */
  #sidebar {
    display: none;
  }
}
/* line 191, ../scss/app.scss */
#sidebar .active-room h2 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 199, ../scss/app.scss */
#sidebar .active-room .building-name {
  margin: 0 0 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 206, ../scss/app.scss */
#sidebar .map-url {
  margin-top: 8px;
  font-size: 13px;
  word-break: break-all;
}
/* line 212, ../scss/app.scss */
#sidebar .qrcode {
  width: 256px;
  background: white;
  margin: 0 auto;
}
/* line 218, ../scss/app.scss */
#sidebar .legend {
  text-align: left;
  margin: 20px 0 20px 20px;
  border: 1px solid #ccc;
  padding: 5px 20px;
  width: 200px;
}
/* line 225, ../scss/app.scss */
#sidebar .legend .legend-entry {
  height: 50px;
}
/* line 228, ../scss/app.scss */
#sidebar .legend .legend-entry .destination {
  background: rgba(255, 255, 255, 0.7);
}
/* line 232, ../scss/app.scss */
#sidebar .legend .legend-entry .destination.legend-symbol img {
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
/* line 239, ../scss/app.scss */
#sidebar .legend .legend-entry .legend-symbol {
  width: 65px;
  float: left;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 240, ../scss/app.scss */
#sidebar .legend .legend-entry .legend-symbol img {
  width: 32px;
}
/* line 249, ../scss/app.scss */
#sidebar .legend .legend-entry .legend-description {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

/* line 258, ../scss/app.scss */
#buildingDetails {
  position: absolute;
  top: 60px;
  left: 0;
  right: 320px;
  padding: 0 20px 20px 0;
  bottom: 0;
  overflow: auto;
  background: #fbfbfb;
}
@media only screen and (max-width: 1000px) {
  /* line 258, ../scss/app.scss */
  #buildingDetails {
    right: 0;
    top: 52px;
  }
}
/* line 274, ../scss/app.scss */
#buildingDetails h2 {
  margin: 15px;
  font-size: 20px;
  height: 24px;
}
/* line 280, ../scss/app.scss */
#buildingDetails #floors {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}
/* line 286, ../scss/app.scss */
#buildingDetails .floor {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 291, ../scss/app.scss */
#buildingDetails .floor h3 {
  height: 18px;
  margin: 0 5px;
  padding: 5px 2px;
  cursor: pointer;
  position: relative;
  z-index: 20;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  /* line 291, ../scss/app.scss */
  #buildingDetails .floor h3 {
    padding: 5px 5px;
  }
}
/* line 305, ../scss/app.scss */
#buildingDetails .floor .floorplan-data {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  bottom: 0;
  margin-top: -1px;
  border: 1px solid #bbb;
  background: white;
  z-index: 10;
  overflow: auto;
}
/* line 317, ../scss/app.scss */
#buildingDetails .floor .floorplan-data .controls {
  position: fixed;
  left: 20px;
}
/* line 321, ../scss/app.scss */
#buildingDetails .floor .floorplan-data .controls .zoomIn, #buildingDetails .floor .floorplan-data .controls .zoomOut {
  position: absolute;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(230, 230, 230, 0.7);
  cursor: pointer;
}
/* line 333, ../scss/app.scss */
#buildingDetails .floor .floorplan-data .controls .zoomIn:active, #buildingDetails .floor .floorplan-data .controls .zoomOut:active {
  background-color: rgba(200, 200, 200, 0.7);
}
/* line 338, ../scss/app.scss */
#buildingDetails .floor .floorplan-data .controls .zoomIn {
  top: 20px;
  border-bottom: none;
}
/* line 343, ../scss/app.scss */
#buildingDetails .floor .floorplan-data .controls .zoomOut {
  top: 40px;
}
/* line 349, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper {
  margin-bottom: 20px;
}
/* line 353, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker {
  position: absolute;
  color: red;
  opacity: 0.5;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: -10px;
  margin-top: -5px;
}
/* line 362, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker .marker-icon img {
  width: 32px;
}
/* line 367, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker .room-name {
  display: none;
  font-size: 12px;
  color: rgba(255, 0, 0, 0.7);
}
/* line 374, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker.active {
  opacity: 1;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.7);
}
/* line 381, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker.active .room-name {
  /*display: inline-block;*/
}
/* line 387, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .device-symbol {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../images/pin.png");
}
/* line 395, ../scss/app.scss */
#buildingDetails .floor.active {
  display: block;
}
/* line 397, ../scss/app.scss */
#buildingDetails .floor.active h3 {
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
}
/* line 403, ../scss/app.scss */
#buildingDetails .floor.inactive {
  display: block;
}
/* line 405, ../scss/app.scss */
#buildingDetails .floor.inactive h3 {
  background-color: #ddd;
  border: 1px solid #bbb;
}
/* line 409, ../scss/app.scss */
#buildingDetails .floor.inactive img {
  display: none;
}
/* line 412, ../scss/app.scss */
#buildingDetails .floor.inactive .room-marker {
  display: none;
}
/* line 415, ../scss/app.scss */
#buildingDetails .floor.inactive .floorplan-data {
  display: none;
}
