/* line 2, ../scss/app.scss */
#search {
  height: 50px;
}
/* line 5, ../scss/app.scss */
#search .searchfield {
  margin: 5px 20px;
  padding: 5px;
  width: 300px;
  height: 25px;
  font-size: 14px;
}
/* line 13, ../scss/app.scss */
#search .chzn-container {
  margin: 5px 20px;
}
/* line 16, ../scss/app.scss */
#search .chzn-default {
  color: #666;
}
/* line 19, ../scss/app.scss */
#search .chzn-single {
  border-radius: 0;
}

/* line 24, ../scss/app.scss */
#map-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  right: 320px;
  bottom: 0;
}

/* line 32, ../scss/app.scss */
#destination {
  display: none;
  position: absolute;
  z-index: 2;
}

/* line 38, ../scss/app.scss */
#sidebar {
  float: right;
  width: 300px;
  padding: 30px 10px 0;
}
/* line 43, ../scss/app.scss */
#sidebar .qrcode {
  width: 256px;
  background: white;
  margin: 0 auto;
}
/* line 49, ../scss/app.scss */
#sidebar .legend {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 5px 20px;
  width: 200px;
}

/* line 57, ../scss/app.scss */
#buildingDetails {
  position: absolute;
  top: 50px;
  left: 0;
  right: 320px;
  bottom: 0;
  overflow: auto;
}
/* line 66, ../scss/app.scss */
#buildingDetails #back-button {
  width: 50px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* line 75, ../scss/app.scss */
#buildingDetails .floor {
  border: 2px solid #ccc;
  margin: 5px;
}
/* line 78, ../scss/app.scss */
#buildingDetails .floor h3 {
  padding: 5px 20px;
  cursor: pointer;
}
/* line 83, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper {
  position: relative;
}
/* line 86, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker {
  position: absolute;
  color: red;
  opacity: 0.5;
  font-weight: bold;
}
/* line 92, ../scss/app.scss */
#buildingDetails .floor .floorplan-wrapper .room-marker.active {
  opacity: 1;
  padding: 5px 10px;
  margin-left: -10px;
  margin-top: -5px;
  border-radius: 50px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.7);
}
/* line 104, ../scss/app.scss */
#buildingDetails .floor.active {
  display: block;
}
/* line 106, ../scss/app.scss */
#buildingDetails .floor.active h3 {
  background-color: #eee;
}
/* line 110, ../scss/app.scss */
#buildingDetails .floor.inactive {
  display: block;
}
/* line 112, ../scss/app.scss */
#buildingDetails .floor.inactive h3 {
  background-color: #ddd;
}
/* line 115, ../scss/app.scss */
#buildingDetails .floor.inactive img {
  display: none;
}
/* line 118, ../scss/app.scss */
#buildingDetails .floor.inactive .room-marker {
  display: none;
}
