$searchHeight: 50px;
#search {
  height: $searchHeight;

  .searchfield {
    margin: 5px 20px;
    padding: 5px;
    width: 300px;
    height: 25px;
    font-size: 14px;
  }

  .chzn-container {
    margin: 5px 20px;
  }
  .chzn-default {
    color: #666;
  }
  .chzn-single {
    border-radius: 0;
  }
}

#map-wrapper {
  position: absolute;
  top: $searchHeight;
  left: 0;
  right: 320px;
  bottom: 0;
}

#destination {
  display: none;
  position: absolute;
  z-index: 2;
}

#sidebar {
  float: right;
  width: 300px;
  padding: 0 10px;

  .qrcode {
    width: 256px;
    background: white;
    margin: 0 auto;
  }

  .legend {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 5px 20px;
    width: 200px;
  }
}

#buildingDetails {

  position: absolute;
  top: $searchHeight;
  left: 0;
  right: 320px;
  bottom: 0;
  overflow: auto;

  #back-button {
    width: 50px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
  }
  
  .floor {
    border: 2px solid #ccc;
    margin: 5px;
    h3 {
      padding: 5px 20px;
      cursor: pointer;
    }

    .floorplan-wrapper {
      position: relative;

      .room-marker {
        position: absolute;
        color: red;
        opacity: 0.5;
        font-weight: bold;

        .room-name {
          display: none;

          font-size: 12px;
          color: rgba(255,0,0,0.7);
        }

        &.active {
          opacity: 1;
          padding: 5px 10px;
          margin-left: -10px;
          margin-top: -5px;
          border-radius: 50px;
          border: 1px solid #ccc;
          background: rgba(255,255,255,0.7);

          .room-name {
            display: inline;
          }
        }
      }
    }
    
    &.active {
      display: block;
      h3 {
        background-color: #eee;
      }
    }
    &.inactive {
      display: block;
      h3 {
        background-color: #ddd;
      }
      img {
        display: none;
      }
      .room-marker {
        display: none;
      }
    }
  }
}